@model IEnumerable<Films.Models.Film>

@{
    ViewBag.Title = "MyFilms";
}

<h2>Мои фильмы</h2>

@foreach (var item in Model)
{
    <div class="row">
        <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
        <div class="col-md-3">
            @if (item.Cover != null)
            {
                <img src="~/Content/Images/@Html.DisplayFor(modelItem => item.Cover)" class="image" />
            }
        </div>
        <div class="col-md-8">
            <h4>Описание: </h4>
            <p>@Html.DisplayFor(modelItem => item.Description)</p>
            <p><b>Год выхода: </b>@Html.DisplayFor(modelItem => item.Year)</p>
            <p><b>Страна: </b>@Html.DisplayFor(modelItem => item.Country)</p>
            <h4>Актеры: </h4>
            <ul class="list-inline">
                @foreach (var task in item.FilmActors)
                {
                    <li>@Html.ActionLink(@task.Actor.Firstname + @task.Actor.Lastname + " ", "Details", new { id = task.Actor.Id })</li>
                }
            </ul>
        </div>
    </div>
}
    
